<span><a routerLink="/home">Home</a></span> | <span><a routerLink="/users">Users</a> </span> | <span><a routerLink="/tasks">Tasks</a> </span>

<br />
<h3>User Profile</h3>
<div *ngIf="user">
  <form novalidate (submit)="onSubmit()">
          <label>First Name</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="user.firstName"
             name="first"
             required>
      <label>Last Name</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="user.lastName"
             name="last"
             required>

    <label>Email</label>
    <input type="email"
           class="form-control"
           [(ngModel)]="user.emailAddress"
           name="email"
           required>

    <label>Classification</label>
    <select class="form-control"  [(ngModel)]="user.classification" name="class"
            required>
      <option value="">Please select a classification ... </option>
      <option *ngFor="let class of classifications"
              [value]="class.id">
        {{class.display}}
      </option>
    </select>

  <button type="submit" class="btn btn-primary">Save</button>
  <pre>{{user | json}}</pre>
  </form>
</div>



